*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Century Gothic';
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1205px;
    margin: 0 auto;
    position: relative;
}
.conHeader,.conFooter{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}
header,footer{
    background-color: aquamarine;
}

/* -------------------Задание 1--------------------- */
.block{
    min-height: 600px;
}
.bl1{
    background-color: burlywood;
}
.bl2{
    background-color: crimson;
}
.bl3{
    background-color: aqua;
}

/* -------------------Задание 2--------------------- */
@keyframes progressbar{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.progressbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: red;
    transform-origin: left center;
    transform: scaleX(0);
    animation: progressbar 1s linear;
    animation-timeline: scroll(root block);
    transition: transform 0.2s ease;
}

/* -------------------Задание 3--------------------- */
@keyframes grow{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.carousel{
    /* display: flex; */
    overflow-x: scroll;
    white-space: nowrap;
    /* align-items: center;
    height: 300px; */
}
.imgCarousel{
    width: 200px;
    height: 200px;
    border: 5px blue solid;
    border-radius: 10px;
    margin: 20px;

    animation: grow ease-in-out;
    animation-timeline: view(inline 50% 30%);
}
.horMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------Задание 4--------------------- */
@keyframes appearance{
    from{
        opacity: 0;
        transform: scale(0.6);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bounceInRight{
    from{
        transform: translateX(400%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes box2{
    0%{
        transform: translateY(400%) rotate(360deg) scale(0.6);
        opacity: 0;
    }
    50%{
        transform: translateY(100%) rotate(180deg) scale(1);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0) rotate(0) scale(1);
        opacity: 1;
    }
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.box-1, .box-2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}
.box-1{
    background-color: aquamarine;
    animation: appearance ease-in-out;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}
.box-2{
    background-color: palevioletred;
    
    animation: box2 ease;
    animation-timeline: view();
    animation-range: entry 100% contain 50%;
}
.header{
    height: 100%;
}
.list-item{
    margin: 20px;
    animation: bounceInRight;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}


/* -------------------Задание 5-6--------------------- */
@keyframes bright{
    from{
        color: black;
        opacity: 0;
    }
    to{
        color: red;
        opacity: 1;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
        position: fixed;
    }
    20%,100%{
        opacity: 1;
        position: fixed;
    }
}

.fixedHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    color: white;
    background-color: #2d2d44;
    height: 100px;
    animation-name:fade;
    animation-duration: auto;
    animation-timeline: scroll(root block);
    animation-range: 100vh 100%;
}
.conA{
    color: white;
}
.main5{
    min-height: 500vh;
    display: grid;
    background-color: #f8f8f8;
    margin-top: 100px;
    grid-template-rows: repeat(3,1fr);
}
.section{
    view-timeline-name: --section-timeline;
    view-timeline-axis:y;
}
.section h2{
    animation: bright;
    animation-timeline: --section-timeline;
    animation-range:entry 0% cover 50%;
}


/* -------------------Задание 7--------------------- */
::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2d15ff; 
  border-radius: 5px;
  border: 2px solid #d2ff08;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000; 
}